<div id="<%= generate_uid(:object => object, :context => context) %>">
  <%= render :partial => 'has_media/media', :locals => {
    :object => object,
    :context => context,
    :readonly => false
  } %>

  <%= render :partial => 'has_media/medium_field', 
    :locals => {
      :object => object, 
      :context => context
  } %>

</div>
<%- if object.send(context).is_a?(Array) %>
  <p>
  <%= add_medium_link :text => "Add #{context}", 
    :object => object, 
    :context => context %>
  </p>
<%- end %>

